.tete{
    background:url(Image/Banner.jpg);
    background-size: cover;
    height: 400px;
    padding: 100px;
    margin-top: -5em;

}
a{
    text-decoration: none;
    color: black;
}
.lien{
    
    
    
}
.liens{
    display: flex;
    justify-content: space-between;
}

.centre{
    text-align: center;
}
.trois-img{
    justify-content: center;
    display:flex;
    gap: 50px;
    margin-top: 5em;
    
    
}

.parti2{
    text-align: center;
    display:flex ;
    gap: 10px;

}

.parti3{
    background-image: url(./Image/bas.jpg);
    height: 400px;
    margin-top: 10em;
    text-align: center;
    background-size: cover;
}

.bas{
    display: flex;
    justify-content: space-between;
}

.dernier{
    display: flex;
    justify-content: space-around;
    
}
.lienb{
    padding-top: 1em;
}